.scritta1{
    font-family: Yuji Syuku;
    font-size: 120px;
    font-weight: 400;
    line-height: 174px;
    letter-spacing: -0.02em;
    text-align: left;    
    color:rgb(235, 171, 12);
}
.Frame1{
    width: 820px;
    height: 550px;
    margin-left: 335px;
    margin-top: 368px;
}
.scritta2{
    width: 1440px;
    height: 1669px;
    font-family: Yujy Syuku;
    font-size: 120px;
    color:rgb(235, 171, 12)

}
.Frame2{
    width: 1097px;
    height: 492px;
    margin-left: 157px;
    margin-top: 321px;
}
.scritta3{
    width: 756px;
    height: 82px;
    margin-top: 845px;
    margin-left: 381px;
    font-family: Yujy Syuku;
    font-size: 40px;
    color: black;
}
.scritta4{
    width: 1402px;
    height: 396px;
    margin-top: 959px;
    margin-left: 17px;
    font-family: Inter;
    font-size: 30px;
}
.scritta7{
    width: 172px;
    height: 87px;
    margin-top: 48px;
    margin-left: 41px;
    color: rgb(235, 171, 12)
    ;
}
